html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
    background-color: #F8F8FF;  
}

h1 {
    width: 100%;
    text-align: center;
    font-family: Courier New;
    color: #00204E; 
  }

div.a {
    text-align: center;
    font-family: Courier New;
    color: #00204E;
    border: 3px solid darkblue;
}


li {
    float: left;
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: absolute;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.Secondaryheader{
    font-family: Courier New; 
    color: #00204E;
}

.column{
    float: left;
    width: 33.33%; 
    color: #00204E;
    font-family: Courier New;
    font-weight: bold; 
}

.row:after{
    content: " ";
    display: table;
    clear: both;
   
  }

  
.container{
    text-align:center;
    vertical-align: middle;
     position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;

     /*position:absolute;*/
    /*display:block;
    height:100px;
    width:100px;
    left:50%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;

    width:200px;
    height:200px;
    position: fixed;
    background-color: #00FF00;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;*/

    
}

.fake_img{
    display:inline-block;
    margin:5px 20px;
    padding:5px;
    vertical-align: middle;
    float: right;
   
    
    
}



.Description{
    border:5px solid #00204E;
    padding: 20px;
    max-width: 95%;
    width: 100%;
    margin: 20px auto;
    color: #00204E;
    border: 3px solid green;
}


.logo{
    height:90%;

}


#images{
    text-align:center;
    margin:50px auto;
    vertical-align: middle;
}
#images a{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
}





.footer {
    background-color: 	#00204E;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    max-height: 
    color: #FFFFFF;
    overflow: hidden; 

}

.foottext {
    width:50%;
    height: 50%;
    float: right;
    text-align: right;
    margin-right: 1vw;   
    padding: 0;
    color: white;
    font-family: Courier New; 
}