html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
    background-color: powderblue;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: Courier New;
  }

div.a {
    text-align: center;
    font-family: Courier New;
}


li {
    float: left;
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}


.footer {
    background-color: 	#0080ff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow:hidden;
}