.Title{
	font-size: 30px;
	margin: 0 auto; 
	color: white;
	padding: 10px 10px 10px 10px;
}
.SecondaryTitle{
	font-size: 12px;
	margin: 0 auto;
	color: white; 
	padding-right: 100px;

}
*{
	background: #000066;
}
#logo{
	width: 60px;
	height: 60px;
	float: right;  
	margin:0 auto;
	padding: 10px 10px 10px 10px;

}